#mycharts-chart-details-form .fields-config-box {
  width: 200px;
}

#mycharts-chart-details-form .mycharts-choose-form .float-left {
  float: left;
  padding-right: 10px;
}

#mycharts-chart-details-form .float-left input {
  width: 150px;
  height: 11px;
}

#mycharts-chart-details-form .float-left select {
  width: 100px;
  height: 25px;
}

#mycharts-chart-details-form fieldset {
  clear: left;
  height: auto !important;
}

#mycharts-chart-details-form .pconfig {
  min-height: 400px;
}

#mycharts-chart-details-form .colorpicker {
  z-index: 6669999;
}
